.places {
  margin: auto;
  max-width: 984px;
}

@media screen and (min-width: 951px) and (max-width: 1140px) {
  .places {
     width: 91%;
   }
}

@media screen and (min-width: 551px) and (max-width: 950px) {
  .places {
     width: 91%;
   }
}

@media screen and (max-width: 550px){
  .places {
    width: 100%;
  }
}