.place__location {
  display: flex;
  align-items: flex-end;
}

@media screen and (min-width:426px) and (max-width:767px) {
  .place__location {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px){
  .place__location {
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
  }
}