@font-face {
    font-family: 'Inter';
    src: url(https://pictures.s3.yandex.net/frontend-developer/responsive/Inter-Regular.woff);
    font-weight: normal;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url(https://pictures.s3.yandex.net/frontend-developer/responsive/Inter-Bold.woff2);
    font-weight: bold;
  }


body {
 background-color: #181A19;
}

.page {
    max-width: 1440px;
    margin: auto;
    font-family: 'Inter';
    color:#FFF;
    border: 1px solid red;
}

.header {
  margin: 28px auto 56px;
  color: #FFF;
  display: grid;
  width: 90%;
  grid-template-columns: 1fr fit-content(100px);
  border: 1px solid red;
}
.header__logo {
  max-width: 176px;
  border: 1px solid red;
}

.header__lang {
  list-style: none;
  display: grid;
  column-gap: 18px;
  padding: 0;
  grid-template-columns: repeat(2, 30px);
  margin-bottom: 6px;
  border: 1px solid red;

}
.header__lang-link {
  text-decoration: none;
  color: #FFF;
  font-size: 24px;
  line-height: 28px;
  border: 1px solid red;

}

.content {
  margin: auto;
  border: 1px solid red;
}
.lead {
  border: 1px solid red;
  width: 80%;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lead__title {
  font-size: 96px;
  margin: 0;
  text-align: center;
  font-weight: bold;
  border: 1px solid red;
  max-width: 720px;
}

.lead__subtitle {
    max-width: 640px;
    line-height: 1.2;
    font-size: 30px;
    text-align: center;
    margin: 0;
    margin-top: 32px;
    font-weight: normal;
    border: 1px solid red
}

.lead__maps {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    width: 100%;
    border: 1px solid red
}

.lead__image {
  
  border: 1px solid red
}

.lead__caption {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1.5;
  font-weight: normal;
  margin-top: 8px;
  border: 1px solid red
}


.intro {
    width: 80%;
    margin: auto;
    border: 1px solid red;
    margin-top: 92px;
    margin-bottom: 92px;
}

.intro__title {
    border: 1px solid red;
  font-size: 54px;
  line-height: 58px;
  margin: 0;
}

.intro__text {
  border: 1px solid red;  
  font-size: 16px;
  max-width: 690px;
  line-height: 1.5;
  font-weight: normal;
  margin-top: 40px;
}

.intro__list {
  margin-top: 33px;
  white-space: pre-line;
  font-size: 12px;
  line-height: 1.5;
  font-weight: bold;
    border: 1px solid red; 
}

.photo-grid {
  width: 90%;
  margin: auto;
  margin-bottom: 92px;
  border: 1px solid red; 
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

.photo-grid__item {
  width: 100%;
  
}

.places {
  border: 1px solid red;
  margin: auto;
  width: 80%;

}

.place {
  border: 1px solid red;
  margin-top: 80px;
  
  
}

.place__location {
  border: 1px solid red;
  display: flex;
  align-items: flex-end
}

.place__title {
  border: 1px solid red;
  margin: 0;
  font-size: 72px;
  line-height: 76px;
  font-weight: bold;
  width: 48%;
}

.place__image {
  border: 1px solid red;
  width: 48%;
  height: fit-content;
}


.place__main-text {
  border: 1px solid red;
  display: flex;
  margin-top: 48px;
  
}

.place__website {
  border: 1px solid red;
  text-decoration: none;
  color: #FFF;
  margin-left: 40px;
  
}

.place__link {
  text-decoration: underline;
  color: #FFF;
  font-size: 18px;
  line-height: 1.2;
}

.place__link:hover {
opacity: 0.8;
}


.place__url-heading {
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 1;
  color: rgba(170, 170, 170, 1);
  letter-spacing: 0.2em;
  ;
}

.place__text {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  
}
.place__paragraph:last-child {
  padding-bottom: 0;
}
.place__paragraph {
  border: 1px solid red;
  margin: 0;
  font-size: 18px;
  line-height: 29px;
  font-weight: normal;
  padding-bottom: 26px;

}




.cover {
  width: 90%;
  margin: auto;
  margin-top: 92px;
  background-image: url(../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover ;
  height: 740px;
}

.cover__overlay {
  background-color: rgba(42, 44, 47, 0.3);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.cover__title {
  text-align: center;
  font-size: 72px;
  line-height: 76px;
  max-width: 560px;
  font-weight: bold;
  margin: 0;
  color: #FFF;
  text-decoration: none;
  
}

.cover__subtitle {
  margin-top: 32px;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  text-align: center;
  font-weight: normal;
}

.cover:hover {
  opacity: 0.8;
}


.footer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 92px auto 24px;
}

.footer__columns {

}

.footer__column-links {
  display: flex;
}

.footer__column-link {
    text-decoration: none;
    color: #fff;
    margin-right: 18px;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
}
.footer__column-link:hover {
  opacity: 0.8;
}

.footer__column-copyright {
  margin:0;
  padding: 0;
  font-size: 14px;
  line-height: 1.1;
  font-weight: normal;

}

@media screen and (min-width: 320px) and (max-width: 425px){
.header {
  height: 42px;
}

.header__logo {
  height: 42px;
}
  .header__lang-link {
  font-size: 18px;
  line-height: 20px;
  
}



 

.lead__title {
  font-size: 40px ;
  line-height: 1.1;
}

.lead{
  width: 90%;
}

.lead__subtitle {
  
  line-height: 20px;
  font-size: 16px;
  margin-top: 16px;
  
}

.lead__image {
  margin-top: 40px;
}


.intro {
  width: 90%;
  margin-top: 64px;
  margin-bottom: 64px;
}

.intro__title {
  font-size: 32px;
  line-height: 1.1;
}

.photo-grid {
  margin-bottom: 64px;
}
.place__main-text {
  flex-wrap: wrap;
  margin-top: 32px;
}

.place__image {
  width: 100%;

}

.places {
  width: 90%;
  }

  .place {
    margin-top: 50px;
  }

  .place:first-child {
    margin-top: 0;
  }

.place__location {
  flex-wrap: wrap;
  
}
  
.place__text {
  width: 100%;
  margin: 0;
  margin-top: 32px;

}

.place__website {
  width: 100%;
  margin: 0;
  margin-top: 32px;
}

.place__title {
  font-size: 32px;
  line-height: 1.1;
  width: 100%;
}
.cover {
  height: 200px;
  width: 100%;
  margin-top: 64px;
}

.cover__title {
  font-size: 32px;
  line-height: 1.1;
  width: 288px;
}

.cover__subtitle {
  font-size: 14px ;
  line-height: 1.1;
  width: 288px;
  margin: 0;
}

.footer {
width: 100%;
flex-direction: column;
margin-bottom: 24px;
}

.footer__column-links {
flex-direction: column;
}

.footer__column-link {
  margin-left: 16px;
  margin-bottom: 32px;
  font-size: 24px;
  line-height: 1;
}

.footer__column-link:last-child {
  margin-bottom: 48px;
}
.footer__column-copyright {
  margin-left: 16px;
}


}

@media screen and (min-width:426px) and (max-width:767px) {
  
  .place {
    margin-top: 50px;
  }

  .place:first-child {
    margin-top: 0;
  }
  
  .place__main-text {
    flex-wrap: wrap;
  }
  
  .place__image {
    width: 100%;
  
  }
  
  .places {
    width: 90%;
  }
  
  .place__location {
    flex-wrap: wrap;
    
  }
    
  .place__text {
    width: 100%;
    margin: 0;
  
  }
  
  .place__website {
    width: 100%;
    margin: 0;
    margin-top: 32px;
  
  }
  .place__title {
    font-size: 32px;
    line-height: 1.1;
    width: 100%;
  }
  
  .cover {
    height: 350px;
    width: 100%;
  }
  
  .lead__title {
    font-size: 40px ;
    line-height: 1.1;
  }
  
  .lead{
    width: 90%;
  }
  
  .intro {
    width: 90%;
  }
  
  
  
  .cover__title {
    font-size: 32px;
    line-height: 1.1;
    width: 288px;
  }
  
  .cover__subtitle {
    font-size: 14px ;
    line-height: 1.1;
    width: 288px;
    margin: 0;
  }
  
  .footer {
    flex-wrap: wrap;
  }
  
  
 
  
}



@media screen and (min-width:768px) and (max-width:840px) {
  .lead {
    width: 90%;
  }
  
  .place {
    margin-top: 73px;
  }

  .places {
    width: 90%;
  }
  .place__website {
    margin-left: 28px;
  }

  .place__title {
    font-size: 42px;
    line-height: 46px;  
  }
  
.place__text {
  margin-left: 28px;
}

  .place__paragraph {
    font-size: 16px;
    line-height: 1.5;  
    padding-bottom: 25px;
  }

  .cover {
    height: 480px;
    width: 100%;
  }
}

@media screen and (min-width:840px) and (max-width:1024px) {

  .cover {
    width: 100%;
    height: 640px;
  }
  .places {
    width: 90%;
  }
  
  .place__website {
    margin-left: 32px;
  }
  .place__text {
    margin-left: 32px;
}


}






