body {
 background-color: #181A19;
}



.lead__image {

}


.footer__columns {

}

@media screen and (min-width: 320px) and (max-width: 425px){

}

@media screen and (min-width:426px) and (max-width:767px) {
 
}



@media screen and (min-width:768px) and (max-width:1024px) {
 
}


/*@media screen and (min-width:840px) and (max-width:1024px) {

  .intro {
    width: 90%;
  }
  .cover {
    width: 100%;
    height: 640px;
  }
  .places {
    width: 90%;
  }

  .place {
    margin-top: 72px;
  }
  
  .place__website {
    margin-left: 32px;
  }
  .place__text {
    margin-left: 32px;
}
.place__title {
  font-size: 42px;
  line-height: 46px;  
}


}*/






