.place__text {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
}

@media screen and (min-width: 951px) and (max-width: 1140px) {
  .place__text {
     margin-left: 32px;
   }
}

@media screen and (min-width:551px) and (max-width:950px) {
  .place__text {
    margin-left: 28px;
  }
}

@media screen and (max-width: 550px){
  .place__text {
    width: 90%;
    margin-top: 32px;
    margin-left: 16px;
   }
  }