.place__main-text {
  display: flex;
  margin-top: 48px;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 550px){
  .place__main-text {
    flex-wrap: wrap;
    margin-top: 32px;
  }
}