.footer__column-copyright {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
}

@media screen and (min-width: 551px) and (max-width: 732px){
  .footer__column-copyright {
    margin-top: 24px;
  }
}

@media screen and (max-width: 550px){
  .footer__column-copyright {
    margin-left: 16px;
    line-height: 14px;
  }
}