.lead__maps {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  width: 100%;
}

@media screen and (min-width: 951px) and (max-width: 1140px) {
  .lead__maps {
    margin-top: 56px;
  }
}
@media screen and (max-width: 950px) {
  .lead__maps {
    margin-top: 40px;
  }
}