.lead__image {
  width: 100%;
  min-height: 615px;
  object-fit: contain;
}

@media screen and (min-width: 951px) and (max-width: 1140px) {
  .lead__image {
    min-height: 580px;
  }
}

@media screen and (min-width: 751px) and (max-width: 950px) {
  .lead__image {
    min-height: 480px;
  }
}

@media screen and (max-width: 750px) {
  .lead__image {
    min-height: 200px;
  }
}