.intro {
  max-width:984px;
  margin: auto;
  margin-top: 92px;
  margin-bottom: 92px;
}

@media screen and (min-width: 951px) and (max-width: 1140px) {
  .intro {
    width: 94%;
  }
}

@media screen and (min-width: 551px) and (max-width: 950px) {
  .intro {
    max-width: 94%;
  }
}
@media screen and (max-width: 550px){
  .intro {
    width: 90%;
    margin-top: 64px;
    margin-bottom: 64px;
  }
}


