.cover {
  max-width: 1184px; 
  margin: auto; 
  margin-top: 92px; 
  background-image: url(../../images/cover-trains.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 740px;
  position: relative;
}


@media screen and (min-width:950px) and (max-width:1140px) {
  .cover {
    width: 100%;
    min-height: 640px;
    background-size: 100%;
  }
}
@media screen and (min-width:551px) and (max-width:950px) {
  .cover {
    min-height: 480px;
    width: 100%;
    background-size: 100%;
  }
}

@media screen and (max-width: 550px){
  .cover {
    min-height: 200px;
    width: 100%;
    margin-top: 64px;
    background-size: 100%;
  }
}