.lead__caption {
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1.5;
  font-weight: normal;
  margin-top: 8px;
}

@media screen and (min-width:840px) and (max-width:1140px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (min-width:426px) and (max-width:767px) {
  .lead__caption{
    margin-left: 24px;
    font-size: 10px;
    line-height: 1.4;
  }
  
}

@media screen and (min-width: 320px) and (max-width: 425px){
  .lead__caption{
    margin-left: 16px;
    font-size: 10px;
    line-height: 1.4;
  }
}